@import "../../../../../assets/style/media-query";

h2 {
    font-weight: 300;
    font-size: 2.5em;
}

.action {
    app-button:nth-child(1) {
        margin-right: 2em;

        @include MQ(520px) {
            display: block;
            margin-right: 0;
            margin-bottom: 12px;
        }
    }
}
