<div class="page-illustration-container">
    <div class="page-main">
        <div class="page-face page-face__front">
            <div class="page-inner">
                <div class="lines">
                    <div class="line size-s orange">
                        <div class="line-face__front"></div>
                        <div class="line-face__bottom"></div>
                        <div class="line-face__right"></div>
                    </div>
                    <div class="line size-xl white">
                        <div class="line-face__front"></div>
                        <div class="line-face__bottom"></div>
                        <div class="line-face__right"></div>
                    </div>
                </div>
                <div class="lines">
                    <div class="line size-xs green">
                        <div class="line-face__front"></div>
                        <div class="line-face__bottom"></div>
                        <div class="line-face__right"></div>
                    </div>
                    <div class="line size-m blue">
                        <div class="line-face__front"></div>
                        <div class="line-face__bottom"></div>
                        <div class="line-face__right"></div>
                    </div>
                </div>
                <div class="lines">
                    <div class="line size-s blue">
                        <div class="line-face__front"></div>
                        <div class="line-face__bottom"></div>
                        <div class="line-face__right"></div>
                    </div>
                    <div class="line size-xl blue">
                        <div class="line-face__front"></div>
                        <div class="line-face__bottom"></div>
                        <div class="line-face__right"></div>
                    </div>
                </div>
                <div class="lines">
                    <div class="line size-5xl white">
                        <div class="line-face__front"></div>
                        <div class="line-face__bottom"></div>
                        <div class="line-face__right"></div>
                    </div>
                </div>
                <div class="lines">
                    <div class="line size-s orange">
                        <div class="line-face__front"></div>
                        <div class="line-face__bottom"></div>
                        <div class="line-face__right"></div>
                    </div>
                    <div class="line size-xl white">
                        <div class="line-face__front"></div>
                        <div class="line-face__bottom"></div>
                        <div class="line-face__right"></div>
                    </div>
                </div>
                <div class="lines">
                    <div class="line size-xs green">
                        <div class="line-face__front"></div>
                        <div class="line-face__bottom"></div>
                        <div class="line-face__right"></div>
                    </div>
                    <div class="line size-m blue">
                        <div class="line-face__front"></div>
                        <div class="line-face__bottom"></div>
                        <div class="line-face__right"></div>
                    </div>
                </div>
                <div class="lines">
                    <div class="line size-s blue">
                        <div class="line-face__front"></div>
                        <div class="line-face__bottom"></div>
                        <div class="line-face__right"></div>
                    </div>
                    <div class="line size-m blue">
                        <div class="line-face__front"></div>
                        <div class="line-face__bottom"></div>
                        <div class="line-face__right"></div>
                    </div>
                </div>
                <div class="lines">
                    <div class="line size-5xl white">
                        <div class="line-face__front"></div>
                        <div class="line-face__bottom"></div>
                        <div class="line-face__right"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-face page-face__back"></div>
        <div class="page-face page-face__left"></div>
        <div class="page-face page-face__right"></div>
        <div class="page-face page-face__top"></div>
        <div class="page-face page-face__bottom"></div>
    </div>
</div>
