<div class="navbar">
    <a [routerLink]="'/'">
        <div class="navbar-left">
            <div class="logo blue" [inlineSVG]="'./assets/logo-blue.svg'"></div>
            <span class="name">Okty</span>
        </div>
    </a>

    <div class="navbar-right">
        <div class="large-nav">
            <a *ngIf="displayNav" href="https://builder.okty.io/">Builder</a>
            <a href="https://github.com/Okty-io">Github</a>
            <a *ngIf="displayNav" [routerLink]="['/', 'learning']">Learning</a>
        </div>
    </div>
</div>
