$S: 700px;
$M: 790px;
$L: 970px;

@mixin MQ( $canvas ) {
    @if $canvas == S {
        @media only screen and (max-width: $S) {
            @content;
        }
    } @else if $canvas == M {
        @media only screen and (max-width: $M) {
            @content;
        }
    } @else if $canvas == L {
        @media only screen and (max-width: $L) {
            @content;
        }
    } @else {
        @media only screen and (max-width: $canvas) {
            @content;
        }
    }
}
