<div class="uk-container uk-container-small okty-container uk-margin-medium-top uk-margin-large-bottom uk-animation-slide-bottom-medium">

    <h1 class="uk-margin-large-bottom uk-text-center">Configuration {{ container.name }}</h1>

    <form (submit)="submit()">

        <div *ngFor="let group of container.config" class="uk-container uk-container-small uk-margin-medium-top okty-config">
            <h2 class="content-title">{{ group.label }}</h2>
            <hr class="uk-divider-icon">
            <div class="uk-grid-small" uk-grid>
                <div *ngFor="let input of group.fields" class=" uk-width-1-2@s">
                  <label [for]="input.id" class="uk-form-label">{{ input.label }}</label>
                    <div class="uk-form-controls">
                        <div [appFormInput]="input" [appFormControl]="formGroup.get(group.label + '_' + input.id)"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-margin-medium-top" style="position: relative">
            <div class="uk-width-1">
                <span class="uk-button okty-button uk-button-primary submit-container uk-position-center-left">Back</span>
                <span class="uk-button okty-button uk-button-danger submit-container uk-position-center">Remove</span>
                <button class="uk-button okty-button uk-button-primary submit-container uk-position-center-right">Submit</button>
            </div>
        </div>
    </form>
</div>
