.okty-config {
  border: 1px #e5e5e5 solid;
  border-radius: 3px;
  padding: 20px;
}

.okty-button {
  border-radius: 3px;
  transition: .3s;

  &:hover {
    box-shadow: 0 14px 25px rgba(0, 0, 0, 0.16);
    transition: .3s;
  }
}

.okty-primary {
  background: linear-gradient(to left, #28a5f5, #1e87f0);
}

.okty-danger {
  background: linear-gradient(to left, #f97878, #f34b4b)
}
