<div class="config">
  <h1>Configuration {{ container.name }}</h1>
  <form (submit)="submit()" class="config-form">
    <div *ngFor="let group of container.config" class="container">
      <h2 class="content-title">{{ group.label }}</h2>
      <div class="content">
        <div *ngFor="let input of group.fields" [ngClass]="['an-half','input-container input-'+ input.type]">
          <label [for]="input.id">{{ input.label }}</label>
          <div [appFormInput]="input" [appFormControl]="formGroup.get(group.label + '_' + input.id)"></div>
        </div>
      </div>
    </div>
    <button>Submit</button>
  </form>
</div>
