<div class="navbar">
    <div class="navbar-left">
        <img id="logo-blue" class="logo" src="./assets/logo-blue.svg">
        <img id="logo-white" class="logo" src="./assets/logo-white.svg">

        <span #name class="name">Okty</span>
    </div>

    <div class="navbar-right">
        <a>Builder</a>
        <a>Documentation</a>
        <a>Blog</a>
        <a class="login">Login</a>
        <a class="signup" (click)="shapeAnime()">Sign up</a>
    </div>
</div>

<svg id="morph-container" viewBox="0 0 0 0" preserveAspectRatio="xMinYMid slice">
    <linearGradient id="gradient" gradientUnits="userSpaceOnUse" x1="1189.3693" y1="631.6639" x2="1975.4751"
                    y2="81.2267">
        <stop offset="0" style="stop-color:#3D7FC2"/>
        <stop offset="1" style="stop-color:#3D45DE"/>
    </linearGradient>
    <path id="morph-shape" d="M908,0v227.2c0,64.8,34.6,124.8,90.8,157.2L1920,916v0.1V0H908"/>
</svg>
