:host {
    display: block;
    margin-bottom: 64px;
}

h2 {
    font-weight: 300;
    font-size: 2.5em;
}

.containers {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;

    > div {
        width: 25%;
        display: flex;

        a {
            margin: auto;
            text-decoration: none;
            color: #000;
        }

        #image-box {
            width: 75px;
            height: 75px;
            border: 1px solid #000;
            border-radius: 50%;
            background-size: 60%;
            background-repeat: no-repeat;
            background-position: center;
        }

        p {
            margin-top: 8px;
        }
    }
}
