.selectize-container {
  position: relative;
  margin-top: 10px;
  background: #f8f8f8;

  .main {
    min-height: 40px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;

    .selectize-selected, input[name="selectize"] {
      display: inline-block;
      box-sizing: border-box;
    }

    input[name="selectize"] {
      width: 8px;
      min-width: 8px;
      border: none;
      outline: none;
      background: #f8f8f8;
    }

    .selectize-selected {
      position: relative;
      padding: 0 25px 0 10px;
      margin: 7px 5px 3px;
      cursor: pointer;
      font-size: 12px;
      background: linear-gradient(to left, #28a5f5, #1e87f0);
      border-radius: 3px;
      line-height: 25px;
      font-weight: 400;
      color: white;

      &:after {
        content: "x";
        position: absolute;
        top: 0;
        right: 10px;
        line-height: 25px;
        font-weight: 600;
      }
    }
  }

  .selectize-possibles {
    position: absolute;
    bottom: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    display: block;
    background: #f8f8f8;
    width: 100%;
    max-height: 165px;
    overflow-y: auto;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    transition: .1s;

    &.hidden {
      display: none;
    }

    > * {
      padding: 5px 15px;
      font-size: 0.8rem;

      &:hover {
        cursor: pointer;
        background: linear-gradient(to left, #28a5f5, #1e87f0);
        color: white;
        transition: .1s;
      }
    }
  }
}
