:host {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.15);

  .container {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-top: 8px;
    cursor: pointer;

    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);

    &.add-control {
      background: rgba(255, 255, 255, 0.15);
      border: 1px solid rgba(255, 255, 255, 0.3);
      transition: 0.3s ease;

      &:hover {
        border: 1px solid rgba(255, 255, 255, 1);
      }
    }
  }
}
