:host {
    > div {
        display: inline-block;
        vertical-align: top;
        width: 65%;
        margin-left: calc(17.5% - 140px);
        font-family: 'Open Sans', sans-serif;
    }

    .config {
        display: flex;
        align-items: flex-start;
    }

    .form {
        width: 60%;
        @media screen and (max-width: 1200px) {
            width: 100%;
        }

        .header {
            width: 100%;
            margin-bottom: 32px;

            img {
                padding: 12px;
                width: 75px;
                height: 75px;
                border: 1px solid #000;
                border-radius: 50%;
                display: inline-block;
                vertical-align: middle;
            }

            h1 {
                display: inline-block;
                vertical-align: middle;
                margin-left: 1vw;
                font-weight: 300;
            }
        }
    }

    .preview {
        width: 50%;
        margin-left: 5%;

        @media screen and (max-width: 1200px) {
            display: none;
        }
    }
}
