.okty-home-container {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100%;
    background: linear-gradient(to left, #28a5f5, #1e87f0);
}

.home-container-transition {
    animation: goToContainer .7s cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: forwards;
    animation-delay: .5s;
    transition: .7s;
}

@keyframes goToContainer {
    0% { }
    100% {
        height: 0px;
        top: 0px;
    }
}

h1 {
    font-size: 2.625rem !important;
    color: white;
}
h2 {
    font-size: 2rem !important;
    color: white;
}

.docker-container-1 {
    position: absolute;
    top: 185px;
    left: calc(50% - 150px);
    opacity: 0;
    animation: okty-1 6s infinite;
    animation-delay: .5s;
}
.docker-container-2 {
    position: absolute;
    top: 185px;
    right: calc(50% - 150px);
    opacity: 0;
    animation: okty-2 6s infinite;
    animation-delay: 1.5s;
}
.docker-container-3 {
    position: absolute;
    top: 285px;
    right: calc(50% - 220px);
    opacity: 0;
    animation: okty-3 6s infinite;
    animation-delay: 2.5s;
}
.docker-container-4 {
    position: absolute;
    top: 390px;
    right: calc(50% - 150px);
    opacity: 0;
    animation: okty-4 6s infinite;
    animation-delay: 3.5s;
}
.docker-container-5 {
    position: absolute;
    top: 390px;
    left: calc(50% - 150px);
    opacity: 0;
    animation: okty-5 6s infinite;
    animation-delay: 4.5s;
}
.docker-container-6 {
    position: absolute;
    top: 285px;
    left: calc(50% - 220px);
    opacity: 0;
    animation: okty-6 6s infinite;
    animation-delay: 5.5s;
}

@keyframes okty-1 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .5;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        top: 235px;
        left: 50%;
    }
}

@keyframes okty-2 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .5;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        top: 235px;
        right: 50%;
    }
}

@keyframes okty-3 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .5;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        right: 50%;
    }
}

@keyframes okty-4 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .5;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        top: 310px;
        right: 50%;
    }
}

@keyframes okty-5 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .5;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        top: 310px;
        left: 50%;
    }
}

@keyframes okty-6 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .5;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        left: 50%;
    }
}

.okty-button-home {
    height: 55px;
    border: 1px solid white;
    border-radius: 50px;
    background: rgba(0,0,0,0);
    transition: .3s;
    margin-right: 15px;

    &:hover {
        box-shadow: 0 14px 25px rgba(0, 0, 0, 0.16);
        transition: .3s;
    }
}

