.logo-container {
    width: 100vw;
    height: 250px;
    margin-top: 500px;
    position: relative;

    .okty-container {
        position: absolute;
        width: 85px;
        left: 50%;
        transform: translate(-50%, 0%);
        opacity: 0;
        z-index: 10;

        animation: revealSvg .5s cubic-bezier(0.42, 0, 0, 3.9);
        animation-fill-mode: forwards;
        animation-delay: 1.6s;

        #oktysvg {
            margin-top: 50%;

            animation: headAnim 5s infinite;
            animation-fill-mode: forwards;
            animation-delay: .8s;
        }
        @keyframes revealSvg {
            0% {
              opacity: 0;
              transform: translate(-50%, 5%);
            }
            100% {
              opacity: 1;
              transform: translate(-50%, 0%);
            }
        }
    }

    .docker-container {
        width: 400px;
        min-width: 400px;
        height: 100%;
        margin-left: calc(50% - 200px);
        position: relative;
        opacity: 0;

        animation: revealContainer .5s;
        animation-fill-mode: forwards;
        animation-delay: 1.5s;

        @keyframes revealContainer {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
        }

        .docker-container-1 {
            width: 45px;
            position: absolute;
            top: 0%;
            left: 50px;
            opacity: 0;

            animation: docker1 6s infinite;
            animation-delay: 1.5s;
        }
        @keyframes docker1 {
            0% {
                opacity: 0;
            }
            25% {
                opacity: 0.3;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 0;
                top: 50%;
                left: 50%;
            }
        }
        .docker-container-2 {
            width: 45px;
            position: absolute;
            top: 0%;
            right: 50px;
            opacity: 0;

            animation: docker2 6s infinite;
            animation-delay: 2.5s;
        }
        @keyframes docker2 {
            0% {
                opacity: 0;
            }
            25% {
                opacity: 0.3;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 0;
                top: 50%;
                right: 50%;
            }
        }
        .docker-container-3 {
            width: 45px;
            position: absolute;
            right: 0%;
            top: calc(50% - 30px);
            opacity: 0;
    
            animation: docker3 6s infinite;
            animation-delay: 3.5s;
        }
        @keyframes docker3 {
            0% {
                opacity: 0;
            }
            25% {
                opacity: 0.3;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 0;
                right: 50%;
            }
        }
        .docker-container-4 {
            width: 45px;
            position: absolute;
            right: 50px;
            bottom: 0%;
            opacity: 0;
    
            animation: docker4 6s infinite;
            animation-delay: 4.5s;
        }
        @keyframes docker4 {
            0% {
                opacity: 0;
            }
            25% {
                opacity: 0.3;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 0;
                right: 50%;
                bottom: 50%;
            }
        }
        .docker-container-5 {
            width: 45px;
            position: absolute;
            left: 50px;
            bottom: 0%;
            opacity: 0;
    
            animation: docker5 6s infinite;
            animation-delay: 5.5s;
        }
        @keyframes docker5 {
            0% {
                opacity: 0;
            }
            25% {
                opacity: 0.3;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 0;
                left: 50%;
                bottom: 50%;
            }
        }
        .docker-container-6 {
            width: 45px;
            position: absolute;
            top: calc(50% - 30px);
            left: 0%;
            opacity: 0;
    
            animation: docker6 6s infinite;
            animation-delay: 6.5s;
        }
        @keyframes docker6 {
            0% {
                opacity: 0;
            }
            25% {
                opacity: 0.3;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 0;
                left: 50%;
            }
        }
    }
}

@keyframes headAnim {
    0% {
        transform: scale(1,1);
    }
    2% {
        transform: scale(1.1,0.95);
    }
    20% {
        transform: scale(0.95,1.1);
    }
    50% {
        transform: scale(1);
    }
    55% {
        transform: scale(1.1,0.95);
    }
    70% {
        transform: scale(0.95,1.1);
    }
    100% {
        transform: scale(1);
    }
}

.home-container {
  position: absolute;
  top: 40%;
  width: 100vw;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  .home-welcome {
    font-size: 40px;
    color: white;
    margin: 0;
    font-weight: 300;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    opacity: 0;
    animation: reveal .5s cubic-bezier(0.42, 0, 0, 3.9);
    animation-fill-mode: forwards;
    animation-delay: .5s;
  }

  .home-welcome-transition {
    animation: hideWelcome 0.3s ease-in-out;
    animation-fill-mode: forwards;
  }

  .home-description {
    font-size: 25px;
    color: white;
    font-weight: 100;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    opacity: 0;
    animation: reveal .5s cubic-bezier(0.42, 0, 0, 3.9);
    animation-fill-mode: forwards;
    animation-delay: .8s;
  }

  .home-description-transition {
    animation: hideDescription 0.3s ease-in-out;
    animation-fill-mode: forwards;
  }

  .home-button {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #FFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 40px 8px;
    text-transform: uppercase;
    display: inline-block;
    font-size: 20px;
    outline: none;
    text-decoration: none;
    transition: .3s ease;
    opacity: 0;
    animation: reveal .5s cubic-bezier(0.42, 0, 0, 3.9);
    animation-fill-mode: forwards;
    animation-delay: 1.1s;

    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.3);
      color: #FFF;
    }
  }

  .home-button-transition {
    opacity: 1;
    animation: goToSearch .7s cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: forwards;
    animation-delay: 0.35s;
  }
}

.home-logo-transition {
    animation: hideLogo .7s cubic-bezier(0.29, 0.69, 0, 1.17);
    animation-fill-mode: forwards;
    animation-delay: 0.35s;
}

.home-container-transition {
  animation: moveContainer .7s cubic-bezier(0.29, 0.69, 0, 1.17);
  animation-fill-mode: forwards;
  animation-delay: 0.35s;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(40%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes moveContainer {
  0% {
    top: 50%;
  }
  100% {
    transform: translate(-50%, 35px);
    top: 0;
  }
}

@keyframes hideWelcome {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    -webkit-transform: translateX(50px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(200px);
  }
}

@keyframes hideDescription {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    -webkit-transform: translateX(-50px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
  }
}

@keyframes hideLogo {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        margin-top: 800px;
    }
    100% {
        opacity: 0;
        margin-top: 1000px;
    }
}

@keyframes goToSearch {
  0% {
    min-width: 50px;
    margin-top: 10px;
    position: absolute;
    top: 0;
    transform: translate(-50%, 0%);
  }
  100% {
    min-width: 250px;
    margin-top: 100px;
    position: absolute;
    top: 0;
    transform: translate(-50%, 0%);

    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0);
    text-shadow: none;
    padding: 10px 10px;
    display: inline-block;
    font-size: 25px;
    outline: none;
    text-decoration: none;
  }
}
