<h3 class="header">Quiz</h3>
<form [formGroup]="form">
    <div *ngFor="let config of action.config.questions;let i = index;" [formGroupName]="i">
        <p class="title">{{config.title}}</p>
        <p class="answer" *ngFor="let label of config.questions; let e = index;">
            <label>
                <ng-container *ngIf="config.responses.length > 1">
                    <input type="checkbox" [formControlName]="e+1"> {{label}}
                </ng-container>

                <ng-container *ngIf="config.responses.length < 2">
                    <input type="radio" [value]="e+1" [formControlName]="0"> {{label}}
                </ng-container>
            </label>
        </p>
    </div>
    <div class="action">
        <app-button [type]="'light'" (click)="submit()">Check answers</app-button>
    </div>
</form>
