.header {
    text-align: center;
}

.title {
    font-weight: 600;

    &.invalid {
        color: #f03434;
    }
}

label {
    cursor: pointer;
}

.action {
    text-align: center;
}

.error {
    text-align: center;
    color: #f03434;
}

.success {
    text-align: center;
    color: #27ae60;
}
