:host {
    font-family: 'Open Sans', sans-serif;
}

.step {
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    line-height: 16px;
    background-color: #C0C0C0;
    cursor: pointer;
    border: 6px solid #fff;
    box-sizing: initial;

    &:hover {
        background-color: #A0A0A0;
    }

    &.active {
        background-color: #3D68DD;
    }
}

.navigation-bar {
    margin: auto;
    width: 70%;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
}

.join-bar {
    width: 70%;
    background-color: #C0C0C0;
    height: 1px;
    margin: -14px auto auto;
}

h2 {
    text-align: center;
    margin-top: 2px;
    font-weight: 500;
}

.action-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.content {
    margin-top: 42px;
    min-height: 150px;
}
