<h2>{{title}}</h2>

<div class="navigation-bar">
    <div class="step" *ngFor="let step of steps; let i = index;"
         [ngClass]="{'active': selectedIndex === i}"
         (click)="onClick(i)">
    </div>
</div>
<div class="join-bar"></div>

<div class="content">
    <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
</div>

<div class="action-bar">
    <app-button [type]="'light'" [disabled]="!hasPrevious()" (click)="previous()">Previous</app-button>
    <app-button [type]="'primary'" (click)="next()" *ngIf="hasNext()" [disabled]="!selected.completed">Next</app-button>
    <app-button [type]="'primary'" (click)="handleEnd()" *ngIf="!hasNext()">Go to next chapter</app-button>
</div>
