:host {
    color: #fff;
}

.review {
    max-width: 700px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    .card {
        width: 25%;
        margin-top: 30px;
        padding: 0 50px 0;
        background: rgba(255, 255, 255, 0.15);
        border: 1px solid rgba(255, 255, 255, 0.15);
        text-align: center;
        cursor: pointer;
        transition: .3s ease;

        &:hover {
            border: 1px solid rgba(255, 255, 255, 1);
        }
    }
}
