<div class="review">
  <div class="block">
    <div class="card" (click)="goToAddContainer()">
      <p>
        <i class="fa fa-plus"></i>
        Add container
      </p>
    </div>
    <div class="card" (click)="exportProject()">
      <p>
        <i class="fa fa-download"></i>
        Export my project
      </p>
    </div>
  </div>

  <div class="block">
    <p> We strongly recommend you to NOT use this in a Production Environment since we're still on Beta Version.
      Follow us on Twitter <a href="https://twitter.com/OktyOfficial" target="blank">@OktyOfficial</a> to keep yourself
      up to date</p>
  </div>
</div>
