<div class="uk-container uk-container uk-text-center uk-margin-large-top uk-animation-slide-bottom-medium">
    <h1>Is your project ready ?</h1>
</div>

<div class="uk-container uk-text-center uk-margin-large-top uk-animation-slide-bottom-medium">
    <button (click)="goToAddContainer()" class="okty-review-button uk-button uk-button-primary uk-button-large">Add
        container
    </button>
    <button (click)="exportProject()" class="okty-review-button uk-button uk-button-primary uk-button-large">Export my
        project
    </button>
</div>

<div class="uk-container uk-container-small uk-text-center uk-margin-large-top uk-animation-slide-bottom-medium">
    <div class="uk-alert-warning" uk-alert>
        <p>
            We strongly recommend you to NOT use this in a Production Environment since we're still on Beta Version.
            <br>
            Follow us on Twitter <a href="https://twitter.com/OktyOfficial" target="blank">@OktyApp</a> to keep
            yourself
            up to date
        </p>
    </div>
</div>
