:host {
    .list {
        display: flex;
        flex-wrap: wrap;

        > div {
            box-sizing: border-box;
            width: 20%;

            text-align: center;
            margin-bottom: 32px;

            .card {
                width: 80%;
                height: 150px;
                margin: auto;
                border: 1px solid #000;
            }
        }
    }
}
