html{
    height: 100%;
}
:host{
    height: 100%;
    display: block;
}
app-footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 337px;
    display: block;
    margin: 0;
}
