:host {
  .okty-navbar {
    position: sticky;
    top: 0;
    z-index: 1000;

    .left-gradient {
      height: 80px;
      width: 50%;
      position: absolute;
      z-index: -1;
      left: 0;
      background: linear-gradient(to left, #28a5f5, #1e87f0);
    }

    .right-gradient {
      height: 80px;
      width: 50%;
      position: absolute;
      z-index: -1;
      right: 0;
      background: linear-gradient(to right, #28a5f5, #1e87f0);
    }

    .okty-navbar-text {
      color: white;
    }

    .okty-nav-link {
      position: relative;
      text-decoration: none;
    }

    .okty-nav-link:before {
      content: "";
      position: absolute;
      width: calc(100% - 30px);
      margin-left: 15px;
      height: 2px;
      bottom: 20px;
      left: 0;
      background-color: #fff;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
    }

    .okty-nav-link:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }

  .sidebarVisible {
    margin-left: 85px;
  }

  .okty-main {
    @media screen and (max-width: 600px) {
      margin-left: 0 !important;
      height: calc(100vh - 85px);
      overflow-y: scroll;

      &.sidebarVisible {
        height: calc(100vh - 80px - 85px);
      }
    }
  }
}
