<footer>
    <div class="top">
        <div class="footer_nav">

            <div class="column">
                <a href="/">
                    <img id="logo-white" class="logo" width="100px" src="./assets/logo-white.svg">
                    <h2 style="text-align: center;font-size: 20px;margin: 0px;">Okty</h2>
                </a>
            </div>
        </div>


        <div class="footer_nav">
            <div class="column">
                <h2>Products</h2>
                <ul>
                    <li>
                        <a href="https://okty.io">Okty</a>
                    </li>
                    <li>
                        <a href="https://builder.okty.io">Builder</a>
                    </li>
                    <li>
                        <a href="https://learning.okty.io">Learning</a>
                    </li>
                </ul>
            </div>

            <div class="column">
                <h2>Social</h2>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/OktyApp/">Facebook</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/OktyApp">Twitter</a>
                    </li>
                    <li>
                        <a href="https://github.com/Okty-io">Github</a>
                    </li>
                </ul>
            </div>

            <div class="column">
                <h2>Contributing</h2>
                <ul>
                    <li>
                        <a href="https://github.com/Okty-io/okty-config">Containers</a>
                    </li>
                    <li>
                        <a href="https://github.com/Okty-io/okty">Okty</a>
                    </li>
                    <li>
                        <a href="https://github.com/Okty-io/okty-server">API</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="bottom">
        <p>© {{year}} Okty. All rights reserved | <a [routerLink]="['/', 'privacy']">Privacy</a></p>
    </div>
</footer>
