<footer>
    <div class="top">
        <div class="footer_nav">

            <div class="column">
                <a href="/">
                    <img id="logo-white" class="logo" width="100px" src="./assets/logo-white.svg">
                    <h2 style="text-align: center;font-size: 20px;margin: 0px;">Okty</h2>
                </a>
            </div>
        </div>


        <div class="footer_nav">

            <div class="column">
                <h2>OUR REPOS</h2>
                <ul>
                    <li class="horizontal">Okty</li>
                    <li class="horizontal">Okty config</li>
                    <li class="horizontal">Okty server</li>
                    <li class="horizontal">Okty environment</li>
                </ul>
            </div>

            <div class="column">
                <h2>ABOUT US</h2>
                <ul>
                    <li class="horizontal">Our Team</li>
                    <li class="horizontal">Contact</li>
                </ul>
            </div>

            <div class="column">
                <h2>CONNECT</h2>
                <ul>
                    <li class="horizontal">Facebook</li>
                    <li class="horizontal">Twitter</li>
                    <li class="horizontal">Google+ (LOOOL)</li>
                </ul>
            </div>
        </div>

    </div>
    <div class="bottom">
        <p>© 2018 Okty. All rights reserved.</p>
    </div>
</footer>
