<div class="text" *ngIf="!container">
    <div *ngIf="error">
        {{error}}
    </div>
    <div *ngIf="!error">
        Loading ...
    </div>
</div>

<div class="config" *ngIf="container">
    <div class="header">
        <img src="{{container.logo}}" alt="{{container.name}} logo">
        <h1>Configuration {{container.name}}</h1>
    </div>

    <form (submit)="submit()">
        <app-generator-form [container]="container" (dataChange)="this.data = $event"></app-generator-form>
        <button type="button">Back</button>
        <button type="submit">Next</button>
    </form>
</div>
