<div class="row">
    <div id="column_left" class="column column_left">
        <div class="morphing-bubble morphing-bubble-left"></div>

        <div class="center">
            <div class="center-item center-item-left">
                <h1>Welcome to Okty</h1>
                <h3>The simplest open source application to create your docker projects</h3>

                <a routerLink="/generator/containers" class="action empty">Empty project</a>
                <a routerLink="/generator/templates" class="action template">From template</a>

            </div>
        </div>
    </div>

    <div id="column_right" class="column column_right" (onSVGInserted)="animeIso()" [replaceContents]="false"
         [inlineSVG]="'./assets/iso_lines_color.svg'">
        <img id="plate" class="planche" src="./assets/iso_plate.svg"/>
        <img id="lines" class="planche" src="./assets/iso_lines_base.svg"/>
        <img id="cubes" class="planche" src="./assets/iso_cubes.svg"/>
        <div class="morphing-bubble morphing-bubble-right"></div>
    </div>

    <div class="mouse">
        <div class="scroll"></div>
    </div>
</div>

<div class="expanded landing__section">
    <div class="container">
        <div class="expanded__inner">
            <div class="expanded__media">
                <img src="./assets/undraw_pair_programming_njlp.svg" class="expanded__image">
            </div>
            <div class="expanded__content">
                <h2 class="expanded__title">Natural styling without a learning curve</h2>
                <p class="expanded__text">Evie brings you the pages you'll need and the structure to create your own,
                    with almost nothing to learn. It is minimal and mostly styles plain elements. There are only a few
                    classes you'll need to know but nothing to disrupt your preferred coding style.</p>
            </div>
        </div>
    </div>
</div>

<div class="expanded landing__section">
    <div class="container">
        <div class="expanded__inner">
            <div class="expanded__media">
                <img src="./assets/undraw_programming_2svr.svg" class="expanded__image">
            </div>
            <div class="expanded__content">
                <h2 class="expanded__title">Natural styling without a learning curve</h2>
                <p class="expanded__text">Evie brings you the pages you'll need and the structure to create your own,
                    with almost nothing to learn. It is minimal and mostly styles plain elements. There are only a few
                    classes you'll need to know but nothing to disrupt your preferred coding style.</p>
            </div>
        </div>
    </div>
</div>
