@import "../../../../../styles.scss";

.row {
    height: calc(100vh - 60px);
    margin-top: 60px;

    .column {
        width: 50%;
        height: 100%;
        float: left;
        position: relative;

        .morphing-bubble-left {
            display: none;
        }

        .morphing-bubble-right {
            display: block;
        }

        .center {
            font-weight: bold;
            font-family: sans-serif;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .center-item-left {
            max-width: 70%;
            margin-left: 15%;

            h3 {
                max-width: 380px;
            }
        }
        .center-item-right {
            max-width: 100%;
            position: relative;
        }

        .center-item {

            h3 {
                margin-bottom: 70px;
            }

            .action {
                margin-right: 25px;
                display: inline-block;
                padding: 8px 18px;
                cursor: pointer;
                border-radius: 25px;
                text-decoration: none;
                transition: all .3s ease;
            }

            .empty {
                background: $color--primary;
                border: 2px solid $color--primary;
                color: white;

                &:hover {
                    background: rgba(255, 255, 255, 0);
                    color: black;
                }
            }

            .template {
                background: white;
                border: 2px solid $color--primary;
                color: black;

                &:hover {
                    background: $color--primary;
                    border: 2px solid $color--primary;
                    color: white;
                }
            }

        }

        .fade-to-top {
            animation: fade-to-top .5s ease-in-out;
            animation-fill-mode: forwards;
        }
        .fade-to-bottom {
            animation: fade-to-bottom .5s ease-in-out;
            animation-fill-mode: forwards;
        }
        .fade {
            opacity: 0;
            transition: opacity .5s;
        }

        .planche {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 90%;
        }

        #plate {
            z-index: 10;
            animation: jump 4s ease-in-out infinite;
        }
    }
}

/*********************************************
**************** MEDIA SIZE ******************
*********************************************/

@include MQ(L) {
    .row {
        .column_left {
            width: 100%;

            .morphing-bubble-left {
                display: block;
            }

            .morphing-bubble-right {
                display: none;
            }

            .center-item-left {
                text-align: center;
                color: #fff;

                h3 {
                    max-width: 380px;
                    margin-left: auto;
                    margin-right: auto;
                }

                .action {
                    display: block;
                    width: 120px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 10px;

                    background: white;
                    border: 2px solid $color--primary;
                    color: black;

                    &:hover {
                        background: $color--primary;
                        border: 2px solid $color--primary;
                        color: white;
                    }
                }
            }
        }

        .column_right {
            display: none;
        }
    }
}

@include MQ(M) {
    .row {
    }
}

@include MQ(S) {
    .row {
    }
}

/*********************************************
***************** KEYFRAMES ******************
*********************************************/

@keyframes fade-to-top {
    0% {
        opacity: 1;
        margin-top: 0px;
    }
    100% {
        opacity: 0;
        margin-top: 100px;
    }
}

@keyframes fade-to-bottom {
    0% {
        opacity: 1;
        margin-bottom: 0px;
    }
    100% {
        opacity: 0;
        margin-bottom: 100px;
    }
}

@keyframes jump {
    0% {
        top: 50%;
        transform: translateY(-50%);
    }
    20% {
        top: 50%;
        transform: translateY(calc(-50% - 10px));
    }
    50% {
        top: 50%;
        transform: translateY(-50%);
    }
    80% {
        top: 50%;
        transform: translateY(calc(-50% - 10px));
    }
    100% {
        top: 50%;
        transform: translateY(-50%);
    }
}

.mouse {
    position: absolute;
    width: 22px;
    height: 35px;
    bottom: 20px;
    left: 50%;
    margin-left: -12px;
    border-radius: 15px;
    border: 2px solid $color--primary;
    -webkit-animation: intro 1s;
    animation: intro 1s;

    .scroll {
        display: block;
        width: 3px;
        height: 3px;
        margin: 6px auto;
        border-radius: 4px;
        background: $color--primary;
        -webkit-animation: finger 1s infinite;
        animation: finger 1s infinite;
    }
}

@keyframes intro {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes finger {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

a {
    text-decoration: none;
}

.landing__section:nth-child(odd) {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.expanded {
    padding: 72pt 0;
}

.container {
    width: 88%;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
}

.expanded__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.expanded__media {
    text-align: center;
    width: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-ordinal-group: unset;
    -ms-flex-order: unset;
    order: unset;
}

.expanded:nth-child(2n) .expanded__media {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.expanded__image {
    width: 90%;
    max-width: 280px;
    padding: 16pt 0;
}

.expanded__content {
    padding: 0 16pt;
    width: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-ordinal-group: unset;
    -ms-flex-order: unset;
    order: unset;
}

.expanded__title {
    max-width: 550px;
}

h2 {
    font-size: 1.728em;
}

.expanded__text {
    max-width: 60ch;
}

p {
    margin-bottom: 1.3em;
}














.morphing-bubble {
    position: absolute;
    z-index: -1;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: none;
}

.morphing-bubble-left {
    left: 50%;
    transform: translate(-50%, -50%);
}

.morphing-bubble-right {
    right: 0;
}

.morphing-bubble::before {
    content: '';
    display: block;
    width: 60vh;
    height: 60vh;
    min-height: 200px;
    min-width: 200px;
    background: linear-gradient(
            270deg,
            $color--primary,
            $color--primary
    );
    background-size: 1600% 1600%;
    -webkit-animation: transform 50s ease-in-out infinite both alternate,
    movement 40s ease-in-out infinite both,
    shade 60s linear infinite both;
    animation: transform 50s ease-in-out infinite both alternate,
    movement 40s ease-in-out infinite both,
    shade 60s linear infinite both;
}

@keyframes transform {
    0%,
    100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
}

@keyframes movement {
    0%,
    100% {
        transform: none;
    }
    50% {
        transform: translateY(5%) rotateY(10deg);
    }
}

@keyframes shade {
    0%,
    100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

