:host {
    display: flex;

    .col:nth-child(1) {
        width: 60%;
        text-align: center;
    }

    .col:nth-child(2) {
        width: 40%;
        padding: 0 5% 0 0;

        code {
            text-align: left;
        }
    }
}
