.tm-sidebar-left {
  position: fixed;
  top: 80px;
  bottom: 0;
  box-sizing: border-box;
  width: 85px !important;
  border-right: 1px #e5e5e5 solid;
  overflow: auto;

  .okty-container-card {
    width: 65px;
    height: 65px;
    padding: 0 !important;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    margin-left: 50%;
    transform: translate(-50%);
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    overflow: hidden;
    outline: none;
    transition: .3s;
    cursor: pointer;

    @media screen and (max-width: 600px) {
      display: inline-block;
      transform: none;
      margin: 10px 6px;
    }

    &:hover {
      border-color: #b2b2b2;
    }

    .sidebar-img {
      width: 45px;
      margin-top: 50%;
      margin-left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @media screen and (max-width: 600px) {
    right: 0;
    width: 100vw !important;
    top: initial;
    height: 85px;
    overflow-y: hidden;
    text-align: left;
    border-right: none;
    border-top: 1px #e5e5e5 solid;
  }
}
