<aside class="containers-docker" *ngIf="visible">
  <div class="container-docker-collection" *ngFor="let container of containers">
    <div class="container-docker focusable"
         role="button"
         aria-label=""
         aria-selected="true"
         [routerLink]="'/edit/' + container.containerId">
      <div class="container-docker-icon">
        <img [src]="container.image"/>
      </div>
      <div class="container-erase-button fa fa-times" (click)="removeContainer(container.containerId)"></div>
    </div>
  </div>

  <div class="container-docker-collection">
    <div [routerLink]="'/search'"
         class="container-docker"
         role="button"
         aria-label="Add container"
         aria-selected="true">
      <button class="container-docker-icon add-container-docker"><i class="fa fa-plus"></i></button>
    </div>
    <div [routerLink]="'/review'"
         *ngIf="containers.length > 0"
         class="container-docker"
         role="button"
         aria-label="Add container"
         aria-selected="true">
      <button class="container-docker-icon add-container-docker"><i class="fa fa-download"></i></button>
    </div>
  </div>
</aside>
