<aside class="containers-docker" *ngIf="visible">  
    <div class="container-docker-collection" *ngFor="let container of containers">
        <div class="container-docker focusable " role="button" aria-label="Reika" aria-selected="true">
            <div class="container-docker-icon">
                <img src="http://vignette1.wikia.nocookie.net/dragonball/images/2/2c/Dragonball_%284-Sterne%29.svg" />
            </div>
        </div>
    </div>

    <div class="container-docker-collection">
        <div [routerLink]="'/search'" class="container-docker" role="button" aria-label="Add container" aria-selected="true">
            <button class="container-docker-icon add-container-docker">+</button>
        </div>
    </div>
</aside>