<div class="input-selector">
  <!--suppress HtmlFormInputWithoutLabel -->
  <input type="text"
         value="{{ selected }}"
         (change)="changeSelected($event.target.value)"
         (focus)="showSelect()"
         (focusout)="hideSelect()"
         [id]="input.id"
         [ngClass]="{'errors':formControl.invalid}">
  <p *ngIf="formControl.invalid" class="errors">{{ formControl.errors | validatorErrors }}</p>

  <ul class='select' [ngClass]="{'show': show }">
    <li *ngFor="let item of data">
      <button type="button" value="{{item}}" (click)="changeSelected($event.target.value)">{{ item }}</button>
    </li>
    <li *ngIf="data.length <= 0">
      <button type="button">No container found</button>
    </li>
  </ul>
</div>
