<div class="uk-container okty-container">

  <nav class="uk-navbar-container okty-search uk-margin-medium-top uk-animation-slide-top-medium" uk-navbar>
    <div class="uk-navbar-left">
      <div class="uk-navbar-item">
        <div class="uk-search uk-search-navbar">
          <span uk-search-icon></span>
          <input autofocus [(ngModel)]="searchContainer" class="uk-search-input" type="search" placeholder="Search...">
        </div>
      </div>
    </div>
  </nav>

  <section class="grid uk-margin-medium-top">
    <article *ngFor="let result of results | filter : searchContainer" [routerLink]="result.action"
             class="uk-animation-slide-bottom-medium">
      <div class="article-skew"></div>
      <div class="article-img">
        <img src="{{ result.logo }}" alt="{{ result.name }}">
      </div>

      <div class="article-content">
        <h3 class="uk-card-title uk-margin-remove-bottom">{{ result.name }}</h3>
      </div>
    </article>
  </section>

  <p class="info-msg">Make or Ask your own container <a href="https://github.com/Okty-io/okty-config" target="blank">here</a>
    !</p>
</div>
