.okty-container {
  text-align: -webkit-center;

  .okty-search {
    max-width: 350px;
    width: 90%;
    background: none;
    border: 1px solid #e5e5e5;
    transition: .3s;

    &:focus-within {
      border-color: #b2b2b2;
    }
  }

  article {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: none !important;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    outline: none;
    max-width: 325px;
    transition: box-shadow .1s ease-in-out;

    &:hover {
      box-shadow: 0 14px 25px rgba(0, 0, 0, 0.16);
    }

    .article-skew {
      width: 100px;
      min-width: 100px;
      height: 100px;
      position: relative;
      left: -35px;
      background: linear-gradient(to left, #28a5f5, #1e87f0);
      transform: skewX(-35deg);
      z-index: 1;
    }

    .article-img {
      height: 70px;
      width: 70px;
      margin-left: 20px;
      border-radius: 35px;
      background-color: white;
      z-index: 2;
      position: absolute;
      left: 0;

      img {
        display: block;
        margin: 0 auto;
        width: 45px;
        margin-top: 50%;
        transform: translateY(-50%);
      }
    }

    .article-content {
      text-align: center;
      width: calc(100% - 90px);
    }
  }
}

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.uk-search-navbar {
  width: auto;
}

.info-msg {
  margin-top: 24px;
}
