<div class="search-container">
  <input [(ngModel)]="searchContainer" type="text" placeholder="Search ..." class="search-input">

  <div class="search-container-docker-container">
    <div *ngFor="let result of results | filter : searchContainer" class="docker-container">
      <div class="docker-container-image" [routerLink]="result.action">
        <img src="{{ result.image }}" alt="{{ result.name }}">
      </div>
      <div class="docker-container-name">
        {{ result.name }}
      </div>
    </div>
  </div>
  <p class="info-msg">Make or Ask your own container <a href="https://github.com/lbassin/okty-config">here</a> !</p>
</div>
