button {
    border: none;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    outline: none;
    transition: all .15s ease-in-out;
}

.primary {
    background: #3D68DD;
    color: #FFF;

    &:hover {
        transition: all .15s ease-in-out;
        background: #264598;
    }
}

.light {
    background: #FFF;
    color: #000;
    border: 1px solid rgba(120, 120, 120, 0.5);

    &:hover {
        transition: all .15s ease-in-out;
        background: #264598;
        color: white;
    }
}

.danger {
    background: #D80303;
    color: #FFF;
}

.small {
}

.medium {
    padding: 10px 25px;
    border-radius: 30px;
}

.large {
    padding: 13px 40px;
    border-radius: 40px;
    font-size: 0.95em;
}

[disabled] {
    opacity: 0.4;

    &:hover {
        background: inherit !important;
        color: inherit !important;
    }
}
