label {
    display: block;
    font-size: 0.9em;
    margin-bottom: 4px;
}

select {
    border: none;
    background-color: #EEE;
    padding: 12px;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    position: relative;
}

div {
    small {
        color: #f03434;
        font-style: italic;
    }
}

