@import "../../../../../assets/style/main";
.home-bg-gradient{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100vw - 20px);
    height: 100vh;
    z-index: -2;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(33deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 58%, rgba(226,228,255,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(58%, rgba(255,255,255,1)), color-stop(100%, rgba(226,228,255,1)));
    background: -webkit-linear-gradient(33deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 58%, rgba(226,228,255,1) 100%);
    background: -o-linear-gradient(33deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 58%, rgba(226,228,255,1) 100%);
    background: -ms-linear-gradient(33deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 58%, rgba(226,228,255,1) 100%);
    background: linear-gradient(33deg, white 0%, white 58%, #e2e4ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e4ff', GradientType=1 );
}
.home-bg-art{
    width: 1820px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.home-titles{
    .title{
        font-family: $font--open-sans;
        font-size: 3.5em;
        font-weight: 300;
        margin: 0;
    }
    .subtitle{
        font-family: $font--open-sans;
        font-size: 2em;
        font-weight: 300;
        margin: 0;
    }
}
.row {
    height: calc(100vh - 60px);
    margin-top: 60px;

    .column {
        width: 50%;
        height: 100%;
        float: left;
        position: relative;


        .center {
            font-weight: bold;
            font-family: sans-serif;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .center-item-left {
            margin-left: 15%;

            h3 {
                max-width: 525px;
            }
        }
        .center-item-right {
            max-width: 100%;
            position: relative;
        }

        .center-item {

            h3 {
                margin-bottom: 70px;
            }

            .action {
                margin-right: 25px;
                display: inline-block;
                padding: 8px 18px;
                cursor: pointer;
                border-radius: 40px;
                text-decoration: none;
                transition: all .3s ease;
                height: 45px;
                padding: 0 40px;
                line-height: 45px;
                font-weight: 300;
            }

            .empty {
                @include button-br;
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d65c2', endColorstr='#3d68de', GradientType=1 );
                border: 1px solid transparent;
                color: white;

                &:hover {
                    @include button-br-hover;
                }
            }

            .template {
                background: white;
                border: 1px solid #000000;
                color: black;

                &:hover {
                    @include button-br-hover;
                    border-color:transparent;
                    color: white;
                }
            }

        }

        .fade-to-top {
            animation: fade-to-top .5s ease-in-out;
            animation-fill-mode: forwards;
        }
        .fade-to-bottom {
            animation: fade-to-bottom .5s ease-in-out;
            animation-fill-mode: forwards;
        }
        .fade {
            opacity: 0;
            transition: opacity .5s;
        }
        app-page-illustration{
            position: absolute;
            top: calc(50% + 39px);
            right: calc(50% + 113px);
            z-index: 20;
            transform: translateX(50%) translateY(-50%);
            animation: jump 4s ease-in-out infinite;
        }
        .planche {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 90%;
        }

        #plate {
            position: absolute;
            right: calc(23% + 25px);
            z-index: 10;
            animation: jump 4s ease-in-out infinite;
        }
    }
}

/*********************************************
**************** MEDIA SIZE ******************
*********************************************/

@include MQ(L) {
    .row {
        .column_left {
            width: 100%;

            .center-item-left {
                text-align: center;
                color: #fff;

                h3 {
                    max-width: 380px;
                    margin-left: auto;
                    margin-right: auto;
                }

                .action {
                    display: block;
                    width: 120px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 10px;

                    background: white;
                    border: 2px solid $color--primary;
                    color: black;

                    &:hover {
                        background: $color--primary;
                        border: 2px solid $color--primary;
                        color: white;
                    }
                }
            }
        }

        .column_right {
            display: none;
        }
    }
}

@include MQ(M) {
    .row {
    }
}

@include MQ(S) {
    .row {
    }
}

/*********************************************
***************** KEYFRAMES ******************
*********************************************/

@keyframes fade-to-top {
    0% {
        opacity: 1;
        margin-top: 0px;
    }
    100% {
        opacity: 0;
        margin-top: 100px;
    }
}

@keyframes fade-to-bottom {
    0% {
        opacity: 1;
        margin-bottom: 0px;
    }
    100% {
        opacity: 0;
        margin-bottom: 100px;
    }
}

@keyframes jump {
    0% {
        top: 50%;
        transform: translateY(-50%);
    }
    20% {
        top: 50%;
        transform: translateY(calc(-50% - 10px));
    }
    50% {
        top: 50%;
        transform: translateY(-50%);
    }
    80% {
        top: 50%;
        transform: translateY(calc(-50% - 10px));
    }
    100% {
        top: 50%;
        transform: translateY(-50%);
    }
}

.mouse {
    position: absolute;
    width: 22px;
    height: 35px;
    bottom: 75px;
    left: 50%;
    margin-left: -12px;
    border-radius: 15px;
    border: 1px solid #000000;
    -webkit-animation: intro 1s;
    animation: intro 1s;

    .scroll {
        display: block;
        width: 3px;
        height: 3px;
        margin: 6px auto;
        border-radius: 4px;
        background: #000000;
        -webkit-animation: finger 1s infinite;
        animation: finger 1s infinite;
    }
}

@keyframes intro {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes finger {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

a {
    text-decoration: none;
}

.landing__section:nth-child(odd) {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.expanded {
    padding: 72pt 0;
}

.container {
    width: 88%;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
}

.expanded__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.expanded__media {
    text-align: center;
    width: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-ordinal-group: unset;
    -ms-flex-order: unset;
    order: unset;
}

.expanded:nth-child(2n) .expanded__media {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.expanded__image {
    width: 90%;
    max-width: 280px;
    padding: 16pt 0;
}

.expanded__content {
    padding: 0 16pt;
    width: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-ordinal-group: unset;
    -ms-flex-order: unset;
    order: unset;
}

.expanded__title {
    max-width: 550px;
}

h2 {
    font-size: 1.728em;
}

.expanded__text {
    max-width: 60ch;
}

p {
    margin-bottom: 1.3em;
}
