:host {
    display: block;
    border: 1px solid rgba(112, 112, 112, 0.6);
    border-radius: 8px;
    margin: 0 0 16px;

    &:first-child {
        margin-top: 0;
    }
}

p {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding-left: 20px;
    line-height: 50px;
    font-weight: 400;
    display: inline-block;
}

.status {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-top: 13px;
    float: right;
    margin-right: 20px;
    border: 1px solid rgba(112, 112, 112, 0.6);
    border-radius: 50%;

    text-align: center;
    font-size: 11px;
    line-height: 24px;
    color: #fff;

    &[completed=true] {
        background-color: #3D68DD;
    }
}
